<a href="https://colab.research.google.com/github/saumyasaini11/python_code/blob/main/String_Functions%2C_SETS%2C_UNIONS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
mystr='HELLO HOW ARE YOU?'
for i in enumerate(mystr):
 print(i)

(0, 'H')
(1, 'E')
(2, 'L')
(3, 'L')
(4, 'O')
(5, ' ')
(6, 'H')
(7, 'O')
(8, 'W')
(9, ' ')
(10, 'A')
(11, 'R')
(12, 'E')
(13, ' ')
(14, 'Y')
(15, 'O')
(16, 'U')
(17, '?')

In [3]:
# Combining string & numbers using format method
item_1 = 40
item_2 = 55
item_3 = 77
res = "Cost of item 1 , item 2 and item 3 are {} , {} and {}"
print(res.format(item_1,item_2,item_3))

Cost of item 1 , item 2 and item 3 are 40 , 55 and 77

In [4]:
# Combining string & numbers using format method....(ALTERNATE METHOD)
item1 = 40
item2 = 55
item3 = 77
res = "Cost of item3 , item2 and item1 are {2} , {1} and {0}"
print(res.format(item1,item2,item3))

Cost of item3 , item2 and item1 are 77 , 55 and 40

In [5]:
#centre function
str2 = " WELCOME EVERYONE "
str2 = str2.center(100,'*') # center align the string using a specific character
print(str2)


str2 = " WELCOME EVERYONE "
str2 = str2.center(100) # center align the string using a specific character as the command.
print(str2)

***************************************** WELCOME EVERYONE *****************************************
                                          WELCOME EVERYONE

In [6]:
#just function
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50,'*') # Right align the string using a specific character ('*')
print(str2)

******************************** WELCOME EVERYONE

In [10]:
print("My favourite TV Series is \"Game of Thrones\"")
#to print text in double quotes

My favourite TV Series is "Game of Thrones"

In [11]:
#TUPLES
'''
1. Tuple is similar to List except that the objects in tuple are immutable which means we cannot
change the elements of a tuple once assigned.
2. When we do not want to change the data over time, tuple is a preferred data type.
3. Iterating over the elements of a tuple is faster compared to iterating over a list.'''

#Sets
'''
1) Unordered & Unindexed collection of items.
2) Set elements are unique. Duplicate elements are not allowed.
3) Set "elements" are immutable (cannot be changed).
4)" Set itself is mutable". We can add or remove items from it'''

myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset.add('NINE') # Add item to a set using add() method
myset

myset.remove('NINE') # remove item in a set using remove() method
myset

myset.discard('TEN') # remove item from a set using discard() method
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [16]:
#UNIONS
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}
print(A|B|C)
print(A|C)
print(A|B)

#intersection
print(A & B) # Intersection of A and B (Common items in both sets)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}

In [17]:
#symmetric difference
print(A ^ B) # Symmetric difference (Set of elements in A and B but not in both.

{1, 2, 3, 6, 7, 8}

In [18]:
#dictionary
double = {i:i*2 for i in range(10)} #double each value using dict comprehension
print(double)

key = ['one' , 'two' , 'three' , 'four' , 'five']
value = [1,2,3,4,5]
mydict = {k:v for (k,v) in zip(key,value)} # using dict comprehension to create d
mydict

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [23]:
mydict = {'a':10 , 'b':20 , 'c':30 , 'd':40 , 'e':50}
mydict = {k:v for (k,v) in mydict1.items()}
mydict

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [29]:
################################Calculate frequenct of each word#############################
mylist1 ="hello everyone!" # Unique values in a list

count1 = [0] * len(mylist1)
mydict5 = dict()
for i in range(len(mylist1)):
  for j in range(len(mylist1)):
    if mylist1[i] == mylist1[j]:
      count1[i] += 1
    mydict5[mylist1[i]] = count1[i]
print(mydict5)

{'h': 1, 'e': 4, 'l': 2, 'o': 2, ' ': 1, 'v': 1, 'r': 1, 'y': 1, 'n': 1, '!': 1}

In [ ]:
#####################Lambda################################
'''
A lambda function is an anonymous function (function without a name).
Lambda functions can have any number of arguments but only one expression. The
expression is evaluated and returned.
We use lambda functions when we require a nameless function for a short period of time.
'''